/* 2. ---Mobile Library Styles--- */
.box:hover {
    background-color: rgb(61, 88, 88);
    color: black;
}

#image {
    display: none;
}

/* 3. ---Tablet Library Styles--- */
@media screen and (min-width: 768px) {
    #image {
        display: none;
    }
}

/* 4. ---Desktop Library Styles--- */
@media screen and (min-width: 1200px) {
    #image {
        display: inline;
    }
}