/* 2. ---Mobile Library Styles--- */
.box:hover {
    background-color: rgb(61, 88, 88);
    color: black;
}

#image {
    display: none;
}

#hero-section {
    height: 240px;
}

#products-section div {
    height: 80px;
}

#service-section div {
    height: 120px;
}

footer {
    height: 160px;
}

/* 3. ---Tablet Library Styles--- */
@media screen and (min-width: 768px) {
    #image {
        display: none;
    }

    #products-section div {
        height: 100px;
    }

    #service-section div {
        height: 132px;
    }
    
    footer {
        height: 200px;
    }
}

/* 4. ---Desktop Library Styles--- */
@media screen and (min-width: 1200px) {
    #image {
        display: inline;
    }

    #hero-section {
        height: 400px;
    }

    #products-section div {
        height: 120px;
    }

    #service-section div {
        height: 140px;
    }    

    footer {
        height: 240px;
    }
}